**/*.exe
**/*.out
*
!/**/
!*.*
**/*.dSYM/**
**/.vscode/**
**/.DS_Store
**/*.zip
test_upload/*
# assignment artifacts format is gz and tar. so, it is ignored
**/*.gz
**/*.tar
# no extension files are generally binary files except readme and assignment binaries
!**/readme
!**/wc209
!**/sgrep_sol

